<html>
    <head>
        <h1>express demo with node</h1>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container"><div class="jumbotron">served from the server</div></div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-3.3.1.min.js">
        </script>
    </body>
</html>